body{
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  list-style:  none;;
}

header {
  height: 100%;
  width: 100%;
  background-color: #45a3f7;
  padding : 10px;

}

.Bar{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

.Color {
  color: black;
  text-decoration:none;
  font-weight: 600;
}

h1{
  margin: 0px
}

main {
  border-top:2px solid aliceblue;
  margin: 0px;
  padding: 0px;
  min-height: 550px;
 
}

.home_body {
 background-image: url("/images/home2.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 height: 100vh;
 text-align: right;
}

.home_body h1{
  color: rgb(39, 148, 148);
  padding-top: 260px;
  padding-right: 100px;
  font-size: 100px;
}
.submit{
  text-align: center;
}

.bordure {
  border-radius: 4px;
}

footer {
  background-color: #333;
  color: aliceblue;
  padding: 10px;
  text-align: center;
}